#properties-list {
  padding-left: 0px;
}
#properties-list li {
  list-style: none;
  border: #ccc 1px solid;
  border-radius: 5px;
  margin-bottom: 5px;
  max-width: 486px;
  overflow: hidden;
}
#properties-list li i {
  width: 50px;
  padding: 5px 10px;
}
#properties-list li label {
  display: inline-block;
  width: 100px;
}
#properties-list li .property {
  width: 120px;
  display: inline-block;
}
#properties-list li .property.type {
  padding: 0px 10px;
  text-transform: uppercase;
}
#properties-list li .btn-danger {
  border-radius: 0px 5px 5px 0px;
  border: 0px;
  float: right;
}
.page {
  max-width: 1200px;
  margin: auto;
}
header {
  overflow: hidden;
}
header img {
  width: 80px;
  float: left;
  display: inline-block;
}
header img:nth-child(2) {
  width: 120px;
  margin-top: 20px;
}
.list tr.cancelled {
  color: #ccc;
}
.list tr.completed {
  color: #888;
}
